
body {
    display:flex;
    width:100vw;
    height:100vh;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background-color:#343536;
}

.calculator {
    border:1px solid white;
    background-color:black;
    display:flex;
    flex-direction:column;
    width:400px;
    gap:10px; 
    padding:20px;
    border-radius:15px; 
}

.calculator__screen {
    border:1px solid white;
    height:125px;
    width:90%;
    margin:5%;
    color:white;
    font-size:36px;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding:5px;
}

.button-row {
    display:flex;
    gap:10px;
}

.button {
    display:flex;
    align-items:center;
    justify-content:center;
    border:1px solid white;
    width:5vh;
    height:5vh;
    border-radius:20px;
    flex-basis:25%;
    padding:0;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    text-align:center;    
}

.button--double {
    width:50%;
    flex-basis:50%;
}

.button--num {
    background-color:#343536;
}

.button--op {
    background-color:#edac15;
}

.button--utility {
    background-color:#b3b3b3;
    color:black;
}